<div class="posts_component">
	<div class="posts_wrap">
		{{#each collection}}
			<div class="post_item">
				<div class="post_inner_wrap">
					<div class="post_img" style="background-image:url({{photos.0.alt_sizes.2.url}})"></div>
					<div class="cover_title">{{slug}}</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>