<div class="nav_container">
	<ul>
		<li><a href="#!/">HOME</a></li>
		<li><a href="#!/about">ABOUT</a></li>
		<li><a href="#!/more">MORE</a></li>
		<li><a href="#!/scroll">SCROLL</a></li>
	</ul>
</div>