
<div class="post_item">
	<div class="post_inner_wrap">
		<div class="post_img" style="background-image:url({{photos.0.alt_sizes.2.url}})"></div>
		<div class="copy_content">
			<div class="copy_container">{{{caption}}}</div>
		</div>
	</div>
</div>
