.permalink_container {
	background-color: #dacbcb;
  // padding-bottom: 200px;
	.permalink_content {

	}
	.perma_wrap {
		width: 60%;
		max-width: 1200px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}