@import '../../../base/site/styles/shared';

/* ===== SCROLL ========= */

.scroll_container {
  background-color: #cccfdb;
  height: 100%;
  overflow: hidden;
  .section_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    // @include transition( all 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946));
  }
  .scroll_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    @include transform(translate3d(0, 0%, 0));
    .section_content {
      height: 100%;
      .post_img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .scroll_copy {
        position: absolute;
        top: 50%;
        color: #fff;
      }
      &.above {
        // @include transitionTransform(0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946));
        @include transform(translate3d(0, -100%, 0));
        z-index: 10;
      }
      &.below {
        // @include transitionTransform(0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946));
        @include transform(translate3d(0, 100%, 0));
        z-index: 10;
      }
      &.center {
        @include transitionTransform(0.7s cubic-bezier(0.465, 0.183, 0.153, 0.946));
        @include transform(translate3d(0, 0%, 0));
      }
      &.animUp {
        @include transitionTransform(0.7s cubic-bezier(0.465, 0.183, 0.153, 0.946));
        @include transform(translate3d(0, -30%, 0));
      }
      &.animDown {
        @include transitionTransform(0.7s cubic-bezier(0.465, 0.183, 0.153, 0.946));
        @include transform(translate3d(0, 30%, 0));
      }
    }

    &.active {
      z-index: 1000;
    }
    
  }


}